<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565359380959-2rb75k3vrisa5tng9jmh6al3c2s70soj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565359380959-2rb75k3vrisa5tng9jmh6al3c2s70soj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_bdRf2pwP9d_VM6Bk1ny3mDS3PMVGJHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>565359380959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebasedeneme</string>
	<key>PROJECT_ID</key>
	<string>flutterdeneme-b4a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdeneme-b4a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565359380959:ios:99dec5b913b62545ef5c6a</string>
</dict>
</plist>